footer div {
  padding-block: 1.5rem;

  background-color: #222;
  color: white;

  text-align: center;
}
footer h3 {
  font-size: 1.8rem;
  font-weight: 400;

  padding-bottom: 1.5rem;
}
footer a {
  text-decoration: none;
  color: white;

  border: 2px solid white;
  border-radius: 3px;

  display: inline-block;
  padding: 0.6rem;
  
  margin-inline: 1.2rem;
}
footer a:hover {
  opacity: 0.6;
}